[project]
	description = "Project management and code hosting  application. Follow us on twitter @gitlabhq"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alfred Zhou (adaiguoguo)
[access "refs/for/refs/*"]
	read = group user/Alfred Zhou (adaiguoguo)
	push = group user/Alfred Zhou (adaiguoguo)
	label-Code-Review = -2..+2 group user/Alfred Zhou (adaiguoguo)
	label-Verified = -1..+1 group user/Alfred Zhou (adaiguoguo)
	rebase = group user/Alfred Zhou (adaiguoguo)
	removeReviewer = group user/Alfred Zhou (adaiguoguo)
	submit = group user/Alfred Zhou (adaiguoguo)
[access "refs/heads/*"]
	read = group user/Alfred Zhou (adaiguoguo)
	create = group user/Alfred Zhou (adaiguoguo)
	push = +force group user/Alfred Zhou (adaiguoguo)
	pushMerge = group user/Alfred Zhou (adaiguoguo)
[access "refs/tags/*"]
	push = +force group user/Alfred Zhou (adaiguoguo)
	pushTag = group user/Alfred Zhou (adaiguoguo)
	pushSignedTag = group user/Alfred Zhou (adaiguoguo)
